.products{
    padding: 10px 200px;
    height: fit-content;
}

.products .product-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px 0 40px 0 ;
}

.product-container h2{
    font-size: 37px !important;
    font-weight: 500 !important;
}

.item-wraper{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;

}