.banner-container{
   width: 100%;
   display: flex;
   justify-content: space-between
   ;
   align-items: center;

}

.main-banner{
    height: 465px;
    width: 365px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 20px;

}

.banner1{
    background: url(banner1.png);
    background-size: cover;
}

.banner2{
    background: url(banner2.png);
    background-size: cover;
}

.banner3{
    background: url(banner3.png);
    background-size: cover;
}

.mb-txt{
    width: 80%;
    height: fit-content;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.mb-txt>span{
    font-size: 15px;

}

.mb-txt h2{
 font-size: 36px;
}

.mb-txt>p{
    font-size: 20px;
    padding-bottom: 19px;
}

.yello-rate{
    color: 
    #FF8A00;
    font-weight: 700;
}

.bgc-rate{
    background-color: #1A1A1A;
    color: #FCC900;
    font-size: 18px;
    padding: 3px 5px;
    border-radius: 6px;
    font-weight: 600;
}