.featurd-box{
    display: flex;
    align-items: center;
    gap: 5px;
}


.featurd-box i{
    font-size: 40px;
    color:  #00B207;
    ;
    
}

.featurd-info h5{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

.featurd-info p{
    font-size: 15px;
    color: gray;
}